body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

section {
    background-color: #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* 섹션의 최대 너비 지정 */
    width: 100%;
    box-sizing: border-box; /* padding과 border를 포함한 전체 너비 설정 */
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.label_id {
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
}
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
.email-input {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.email-input input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.email-input input[type="button"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px; /* 입력란과 버튼 사이의 간격 조정 */
}

input[type="submit"] {
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.find_pw, .join {
    text-align: center;
    margin-top: 10px;
}
