body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}
section {
    background-color: #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 350px;
    height: 800px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-items: flex-start;
}
.logo
{
    margin-left: auto;
    margin-right: auto;
}
.label {
    font-weight: bolder;
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
}
input[type="text"],input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"],input[type="button"] {
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
.find_pw, .join {
    text-align: center;
    margin-top: 10px;
}
.help
{
    margin-left: auto;
    margin-right: auto;
}
#msg_box
{
    color: red;
}